# Node
**/node_modules/
**/package-lock.json

# Godot
Game-Dev/Godot_v4.4-stable_win64.exe
**/.godot/
**/.import/
**/export.cfg
**/export_credentials.cfg
**/*.translation
**/.mono/
**/data_*/
**/mono_crash.*.json